<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="semi-3-letitgo">
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/log4j"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/mappers"/>
        <property name="context-root" value="letitgo"/>
        <property name="java-output-path" value="/semi-3-letitgo/web/WEB-INF/classes"/>
    </wb-module>
</project-modules>
