	#myTextArea {
		position: relative;
		display: block;
		width: 100%;
		background: #ffffff;
		text-transform:capitalize;
		font-size: 15px;
		line-height: 26px;
		color: #888888;
		padding: 12px 15px;
		border-radius:7px;
		height: 50px;
		margin-bottom: 15px;
		border: 1px solid #e0e0e0;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		
	}
/* 	//기업정보 회사소개 텍스트란 */
	#textArea{
		position: relative;
		display: block;
		width: 100%;
		background: #ffffff;
		text-transform:capitalize;
		font-size: 15px;
		line-height: 26px;
		color: #888888;
		padding: 12px 15px;
		border-radius:7px;
		height: 200px;
		margin-bottom: 15px;
		border: 1px solid #e0e0e0;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
	}